<header class="main-header">
  <nav class="navbar">
    <div class="navbar-left">
      <a href="/" class="logo">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0733/2161/1521/files/logo.png?v=1761143912' | asset_url }}" alt="GLADE" class="logo-image">
      </a>
    </div>
    <div class="navbar-center">
      <span id="promo-text">FREE RETURNS WITHIN 30 DAYS</span>
    </div>
    <div class="navbar-right">
      <ul class="nav-menu">
        <li class="has-dropdown">
          <a href="#">SHOP</a>
          <div class="mega-menu">
            <div class="mega-menu-content">
              <div class="menu-column">
                <div class="categories-column">
                  <h5>CATEGORIES</h5>
                  <ul>
                    <li><a href="#">ALL</a></li>
                    <li><a href="#">TOPS</a></li>
                    <li><a href="#">BOTTOMS</a></li>
                    <li><a href="#">OUTERWEAR</a></li>
                    <li><a href="#">ACCESSORIES</a></li>
                    <li><a href="#">NEW ARRIVALS</a></li>
                    <li><a href="#">BEST SELLERS</a></li>
                    <li><a href="#">SALE</a></li>
                  </ul>
                </div>
                <div class="collections-column">
                  <h5>COLLECTIONS</h5>
                  <ul>
                    <li><a href="#">ELEMENTS</a></li>
                    <li><a href="#">MOTION</a></li>
                    <li><a href="#">FREEDOM</a></li>
                    <li><a href="#">ESSENTIALS</a></li>
                  </ul>
                </div>
              </div>
              <div class="menu-featured-column">
                <a href="#">
                  <div
                    class="featured-product-image"
                    style="background-image: url('{{ 'N6ausDEX6KQB23EM1R2C2UhNFk.avif' | asset_url }}');"
                  ></div>
                  <div class="featured-product-text">
                    <h3>JUST DROPPED</h3>
                    <span>LIMITED EDITION ARCHITECTURAL DAYPACK</span>
                  </div>
                </a>
              </div>
              <div class="menu-featured-column">
                <a href="#">
                  <div
                    class="featured-product-image"
                    style="background-image: url('{{ 'ROJvRZzraJIPVF1E7Bjg21cwc.avif' | asset_url }}');"
                  ></div>
                  <div class="featured-product-text">
                    <h3>BLACK FRIDAY SALE</h3>
                    <span>SAVE UP TO 20% OFF ON SELECT ITEMS</span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </li>
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">JOURNAL</a></li>
        <li><a href="#">CONTACT</a></li>
      </ul>
      <div class="nav-icons">
        <a href="#" class="icon-link"><i class="fas fa-search"></i></a>
        <a href="#" class="icon-link"><i class="fas fa-user"></i></a>
        <a href="#" class="icon-link cart">
          <i class="fas fa-shopping-bag"></i>
          <span class="cart-count">0</span>
        </a>
      </div>
    </div>
  </nav>
</header>
